
<button>Create Daily Workout</button>


<% @exercises.each do |e| %>
  <ul>
    <li><%= e.name %></li>
    <li><%= e.description %></li>
    <% if e.category == 1 %>
      <li>Category: Arms</li>
    <% end %>
    <% if e.category == 2 %>
      <li>Category: Legs</li>
    <% end %>
    <% if e.category == 3 %>
      <li>Category: Warm Up</li>
    <% end %>
    <% if e.category == 4 %>
      <li>Category: Cool Down</li>
    <% end %>
    <% if e.equipment == 0 %>
      <li>Equipment: 0 Required</li>
    <% end %>
    <% if e.equipment == 1 %>
      <li>Equipment: Dumb Bells</li>
    <% end %>
    <% if e.equipment == 2 %>
      <li>Equipment: Bike</li>
    <% end %>
    <% if e.equipment == 3 %>
      <li>Equipment: Rower</li>
    <% end %>
  </ul>
<% end %>
